@using Microsoft.AspNetCore.Components.Web
@using Enigma.Client.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Enigma.styles.css"]" />
    <link rel="icon" href="@Assets["favicon.png"]" />

    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveWebAssembly" />


    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["game.js"]"></script>
</body>

</html>
